.dashboard-menu{
    width: 100px;
    transition: all 0.5s ease;
}
.active-menu{
    opacity: 0;
    display: none;
    transition: all 0.2s ease;
}
.hide-navMenu li span:first-child{
    font-size: 25px;
    transition: all 0.5s ease;
}
.hide-navMenu li span:last-child{
    opacity: 0;
    display: none;
    transition: all 0.3s ease;
}